* {
  box-sizing: border-box;
}
.homeContainer {
  background-image: url("mern\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
