.accordion {
  background-color: #dddedf5b !important;
}
.powers {
  margin-left: -40px;
}

.characterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
